
@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500,700);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', cursive;
}

body {
            font-family: Arial, sans-serif;
            margin: 20px;
            /* background-image:url("rscoe.jpg");
            background-repeat: no-repeat;
            background-size: cover; */
          background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,113,1) 49%, rgba(2,0,36,1) 100%);
           /* background-color: gray;
  background-blend-mode: screen; */
  color: white;
  position: relative;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1{
            margin: 3rem;
            font-size: 44px;
        }

      
.phngen{
    display: flex;
    flex-direction: row;
    gap: 0.65rem;
     width: 15rem;
  padding: 10px;
}
.hostelimg
{
    position: absolute;
   bottom: 4rem;
right: 1rem;
} 
.rscoeimg{
    position: absolute;
      bottom: 6rem;
  left: 2rem;
}
   
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 28rem;
  padding: 10px;
  border: 1px solid #575353;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

textarea {
  height: 100px;
  background-color: #ffffff;
}

input[type="submit"] {
  margin-left: 18rem;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: rgb(249, 249, 249);
  background: rgb(170, 0, 255);
  filter: drop-shadow(5px 5px 10px #d510ef);
}
.btn
{
 color: rgb(0, 0, 0);
  background: rgb(217, 110, 10);
  
  height: 34px;
  width: 70px;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover{
filter: drop-shadow(5px 5px 10px #1d6ed2);
}

input[type="submit"]:focus {
  outline: none;
}
         input::placeholder {
    text-align: left;
  }